.page-banner
{
  width:100%;
  height:246px;
  position:fixed;
  top:0px;
  left:0px;
  background:url(../../images/bg.png) repeat;
}

.page-container section
{
  overflow:hidden;
}

.navigator
{
  width:100%;
  height:88px;
  position:absolute;
  bottom:0px;
  left:0px;
}

.navigator li
{
  width:100px;
  height:100%;
  line-height:88px;
  color:#9d703a;
  font-size:13px;
  float:right;
  margin-right:40px;
}

.section-backgroundImage
{
  width:100%;
  height:auto;
}

.page-container section
{
  background-size:100%;
  background-repeat:none;
}

.page-one-section
{
  background-image:url(../../images/bg/1.jpg);
}

.page-two-section
{
  background-image:url(../../images/bg/2.jpg);
}

.page-three-section
{
  background-image:url(../../images/bg/3.jpg);
}

.page-four-section
{
  background-image:url(../../images/bg/4.jpg);
}

.page-one-box
{
  width:632px;
  height:332px;
  float:right;
  margin-top:260px;
  background:rgb(140,93,41);
}

.news-ul
{
  width:100%;
  height:350px;
  position:absolute;
  background-color:red;
}

.map-container
{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.content-image-one
{
  position:absolute;
  right:0;
  top:260px;
}

.content-image-two
{
  position:absolute;
  right:0;
  top:260px;
}

.content-image-three
{
  position:absolute;
  right:0;
  top:260px;
}

.content-image-four
{
  position:absolute;
  left:100px;
  top:180px;
}
