.page-banner
{
  width:100%;
  height:246px;
  border-bottom:1px solid gray;
  position:fixed;
  top:0px;
  left:0px;
}

.navigator
{
  width:100%;
  height:88px;
  position:absolute;
  bottom:0px;
  left:0px;
}

.navigator li
{
  width:100px;
  height:100%;
  line-height:88px;
  color:black;
  font-size:14px;
  float:right;
  margin-right:40px;
}
