.z-index-1000
{
  z-index:1000;
}
.z-index-1001
{
  z-index:1001;
}
.z-index-1002
{
  z-index:1002;
}
.z-index-1003
{
  z-index:1003;
}

ul
{
  margin:0;
  padding:0;
  border:none;
}

ul li
{
  margin:0;
  padding:0;
  list-style:none;
}

img
{
  border:none;
  padding:0;
  margin:0;
}
